.A {
    display: flex;
    border: 1px solid rgb(243, 126, 190);
    flex-wrap: wrap;
    min-height: 50px;
    align-items: center;
    
}

.A:hover {
    background-color: rgb(243, 126, 190);
    cursor: pointer;
}

.B {
    display: flex;
    border: 1px solid rgb(149, 141, 253);
    flex-wrap: wrap;
    min-height: 50px;
    align-items: center;
    
}

.B:hover {
    background-color: rgb(149, 141, 253);
    cursor: pointer;
}

.I {
    display: flex;
    border: 1px solid rgb(255, 68, 68);
    flex-wrap: wrap;
    min-height: 50px;
    align-items: center;
    
}

.I:hover {
    background-color: rgb(255, 68, 68);
    cursor: pointer;
}

.H {
    display: flex;
    border: 1px solid rgb(248, 201, 100);
    flex-wrap: wrap;
    min-height: 50px;
    align-items: center;
    
}

.H:hover {
    background-color: rgb(248, 201, 100);
    cursor: pointer;
}

.N {
    display: flex;
    border: 1px solid rgb(87, 170, 115);
    flex-wrap: wrap;
    min-height: 50px;
    align-items: center;
    
}

.N:hover {
    background-color: rgb(87, 170, 115);
    cursor: pointer;
}